<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.gplassard.centraleapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="fr.gplassard.centraleapp.MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="fr.gplassard.centraleapp.LoadingActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="fr.gplassard.centraleapp.MainActivity" >
        </activity>
        <activity android:name="fr.gplassard.centraleapp.FavorisActivity" >
        </activity>
        <activity android:name="fr.gplassard.centraleapp.ListActivity" >
        </activity>
        <activity android:name="fr.gplassard.centraleapp.MyMapActivity" >
        </activity>
        <activity
            android:name="fr.gplassard.centraleapp.MyListActivity"
            android:label="@string/title_activity_my_list" >
        </activity>
        <activity
            android:name="fr.gplassard.centraleapp.PointOfInterestActivity"
            android:label="@string/title_activity_point_of_interest" >
        </activity>
    </application>

</manifest>